@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
.main {
  height: 100% !important;
}
.main Header {
  background: url("https://s3.amazonaws.com/chewiekie/img/chewiekie-orion-nebula.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100%;
  z-index: -9999;
}
.main Header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #000);
  opacity: 0.6;
}
.main Header #universe {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main Header .content {
  padding-top: 25px;
  color: #fff;
}
.main Header .logo h3 {
  display: inline-block;
  font-size: 20px;
  padding: 7px 0px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
.main Header .nav a {
  color: #fff;
}
.main Header .nav svg {
  font-size: 22px !important;
  margin-top: -3px;
}
.main Header .hero {
  font-family: 'Lato', sans-serif;
  padding: 80px 0px;
}
.main Header .hero h1 {
  font-size: 400px;
  color: rgba(255,255,255,0.1);
  margin-bottom: 0px;
}
.main Header .hero h2 {
  color: #fff;
  font-size: 35px;
  margin-top: -130px;
}
.main Header .hero h3 {
  color: #fff;
  margin-bottom: 30px;
}
.main Header .hero .btn-back {
  background-color: #002f4b;
  cursor: pointer;
  margin: 30px 0px;
  padding: 12px;
  border: 1px solid #002f4b;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.03);
}
.main Header .hero .btn-back:hover {
  background-color: rgba(0,47,75,0.8);
  transform: scale(1.03);
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.main Header .hero .astro img {
  position: fixed;
  top: 40%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@media (max-width: 676px) {
  .main header .hero {
    padding: 50px 0px;
  }
  .main header .hero h1 {
    font-size: 160px !important;
  }
  .main header .hero h2 {
    font-size: 24px;
    margin-top: -60px;
  }
  .main header .hero h3 {
    font-size: 19px;
  }
  .main header .hero .btn-back {
    font-size: 12px;
  }
  .main header .nav-link {
    padding: 0.5rem 0.5rem;
  }
  .main header .astro {
    display: none;
  }
  .main header .astro img {
    width: 120px;
    bottom: 0;
    position: absolute;
  }
}
@-moz-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-o-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
